/* 폰트 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.css");


/* 초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li,
ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  background-color: transparent;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

body {
  font-family: "Pretendard Variable", Pretendard, sans-serif;
  letter-spacing: -0.02em
}

body.is-locked {
  overflow: hidden;
  touch-action: none;
}

/* 유틸리티 */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* 사이드바 */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 320px;
  height: 100vh;
  transition: transform 0.3s ease;
}

.sidebar__inner {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  height: 100%;
  padding: 30px 25px;
  background-color: #2D3447;
}

.sidebar__header {
  border-bottom: 1px solid #fff;
  margin-bottom: 25px;
}

.sidebar__header>* {
  margin-bottom: 25px;
}

.sidebar__logo {
  font-size: 26px;
  margin-bottom: 30px;
}

.sidebar__profile {
  display: flex;
  justify-content: center;
}

.profile {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.social__img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: black;
}

.menu {
  margin-bottom: 25px;
}

.menu__item {
  padding: 8px 0;
  cursor: pointer;
}

.menu__item:hover {
  background-color: #ffffff50;
  transition-duration: 0.2s;
}

/* .btn {
  display: inline-block;
  min-width: 150px;
  padding: 12px 24px;
  margin-top: 25px;
  background-color: rgba(106, 106, 106, 0.365);
  color: white;
  border: none;
  border-radius: 10px;
}

.btn:hover {
  background-color: rgba(145, 145, 145, 0.365);
  transition-duration: 0.2s;
} */

.sidebar__tag-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 25px;
  border-top: 1px solid #fff;
}

.sidebar__tag-item {
  padding: 5px 8px;
  cursor: pointer;
  background-color: #ffffff20;
  border-radius: 4px;
}

.sidebar__tag-item:hover {
  background-color: #ffffff50;
  transition-duration: 0.2s;
}

.sidebar__tag-item button {
  color: #fff;
}

/* 본문 */
.wrap {
  min-height: 100vh;
  margin-left: 320px;
}

/* 헤더 */
.header {
  height: 250px;
  background-color: #FAFAFA;
}

.header__inner {
  position: relative;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 15px;
}

.header__inner .hamburger {
  display: none;
  position: fixed;
  width: 40px;
  height: 40px;
  left: 25px;
  top: 25px;
  font-size: 32px;
  z-index: 1100;
}

.header__inner .hamburger span {
  position: absolute;
  left: 50%;
  width: 24px;
  height: 2px;
  background-color: #000;
  transform: translateX(-50%);
  transition: 0.3s;
}

.header__inner .hamburger span::before {
  content: '';
  position: absolute;
  top: -10px;
  left: 50%;
  width: 24px;
  height: 2px;
  background-color: #000;
  transform: translateX(-50%);
  transition: 0.3s;
}

.header__inner .hamburger span::after {
  content: '';
  position: absolute;
  top: 10px;
  left: 50%;
  width: 24px;
  height: 2px;
  background-color: #000;
  transform: translateX(-50%);
  transition: 0.3s;
}

.header__inner .hamburger.is-open span {
  background-color: transparent;
}

.header__inner .hamburger.is-open span::before {
  top: 0;
  transform: translateX(-50%) rotate(45deg);
  background-color: #fff;
}

.header__inner .hamburger.is-open span::after {
  top: 0;
  transform: translateX(-50%) rotate(-45deg);
  background-color: #fff;
}

.header__logo {
  margin-bottom: 5px;
}

.header__search {
  width: 320px;
  display: flex;
  gap: 6px;
}

.header__input {
  flex: 1;
  border: 1px solid gray;
  padding: 10px;
  border-radius: 3px;
}

.header__button {
  flex-shrink: 0;
  border: 1px solid #4acd5b;
  background-color: #61CB70;
  border-radius: 3px;
  padding: 10px;
}

/* 메인 */
.main {}

.post__inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
}

.post__filtering {
  display: flex;
  padding: 15px 0;
}

.post__filtering button {
  color: #5c5c5c;
  font-size: 12px;
}

.post__filtering button.is-active {
  color: black;
  font-size: 12px;
}

.post__filtering button:not(:last-child)::after {
  content: "|";
  vertical-align: 1px;
  padding: 0 5px;
  color: #000;
}

.post__list {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.post__item {
  display: flex;
  gap: 20px;
}

.post__thumbnail {
  width: 130px;
  height: 130px;
  flex-shrink: 0;
}

.post__thumbnail>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post__content {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.post__title {
  width: 100%;
  margin-top: -4px;
  line-height: 1.2;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.post__title>a {}

.post__info {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #888888;
  font-size: 14px;
}

.dot {
  width: 4px;
  height: 4px;
  background-color: #888888;
  border-radius: 50%;
}

.post__summary {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.25;
}

.post__tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.post__tag-item {
  display: block;
  background-color: #8383837a;
  padding: 2px 6px;
  border-radius: 4px;
}

.post__tag-item:hover {
  background-color: #5959597a;
}

.pagination {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.pagination ul {
  display: flex;
  gap: 10px;
}

.pagination a {
  display: block;
  padding: 8px 12px;
  color: #333;
  border-radius: 4px;
}

.pagination a:hover {
  background-color: #333;
  color: #fff;
  transition-duration: 0.15s;
}

.pagination a.active {
  background-color: #333;
  color: #fff;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(102, 102, 102, 0);
  backdrop-filter: blur(0);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, background-color 0.3s ease, backdrop-filter 0.3s ease;
  z-index: 1050;
}

.overlay.is-open {
  opacity: 1;
  visibility: visible;
  background-color: rgba(102, 102, 102, 0.3);
  backdrop-filter: blur(5px);
}


/* 푸터 */
.footer {
  width: 100%;
  border-top: 1px solid #666;
  padding: 20px;
}

.footer__content {
  text-align: center;
  color: #666;
  font-size: 14px;
}

@media (max-width: 980px) {
  .wrap {
    margin: 0;
  }

  .sidebar {
    transform: translateX(-100%);
    z-index: 1051;
  }

  .sidebar.is-open {
    transform: translateX(0);
  }

  .header__inner .hamburger {
    display: block;
  }
}

@media (max-width: 760px) {
  .header__logo {
    font-size: 24px;
  }

  .header__subtitle {
    font-size: 14px;
  }

  .post__inner {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 480px) {
  .header__logo {
    font-size: 20px;
  }

  .header__subtitle {
    font-size: 12px;
  }

  .header__inner .hamburger {
    left: 18px;
  }

  .header__inner .hamburger span {
    width: 20px;
  }

  .header__inner .hamburger span::before {
    width: 20px;
  }

  .header__inner .hamburger span::after {
    width: 20px;
  }

  .post__inner {
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden;
  }

  .post__content {
    min-width: 0;
  }

  .post__thumbnail {
    width: 90px;
    height: 90px;
  }

  .post__title {
    font-size: 20px;
  }

  .post__title a {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}